# Virtual environments
venv*/
.venv/

# Python
__pycache__/
*.pyc
*.pyo

# Environment
.env

# Flask sessions
flask_session/

# Uploads
uploads/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
Seller-Buyer-_MVP/
